
<section #businessSection>
  <div class="home-container">
    
    <app-encabezado 
      [(termino)]="terminoBusqueda" 
      (alBuscar)="buscarNegocios()">
    </app-encabezado>

    <app-categorias 
      [categorias]="categorias" 
      [categoriaActiva]="categoriaActiva"
      [mostrarBotonLimpiar]="!!terminoBusqueda"
      (alFiltrar)="filtrarPorCategoria($event)"
      (alLimpiar)="limpiarBusqueda()">
    </app-categorias>

    
    <app-lista-negocios 
      [negocios]="negociosFiltrados"
      [terminoBusqueda]="terminoBusqueda"
      [categoriaActiva]="categoriaActiva"
      (alVerDetalle)="irADetalle($event)"
      (alLimpiar)="limpiarBusqueda()">
    </app-lista-negocios>


    <app-como-funciona 
      [visible]="!terminoBusqueda">
    </app-como-funciona>

       <footer class="detail-footer">
        <div class="footer-content">
            <div class="brand">
                <h3>TURNIX</h3>
                <p>La plataforma líder para reservas.</p>
            </div>
            <div class="contact">
                <p>📧 info@turnix.com</p>
                <p>📱 +51 999 888 777</p>
            </div>
        </div>
        <p class="copy">© 2025 Turnix. Todos los derechos reservados.</p>
    </footer>
  </div>
</section>