/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* ELIMINA overflow: hidden */
    overflow-x: hidden; /* Solo bloquea scroll horizontal si es necesario */
}

/* Asegura que el scroll funcione */
app-root {
    display: block;
    height: auto;
    min-height: 100vh;
}